.home_main_container {
  background-image: url(https://cms.cloudinary.vpsvc.com/images/c_scale,dpr_auto,f_auto,fl_progressive,w_1920/legacy_dam/en-us/S001649110/MXP23221-Aug-21-Homepage-HeroShort-Final-001?cb=d8aaac3c496f1d0af4410c0a3fb3c1061decf997);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  width: 100%;
  margin-top: 5px;
  color: white;
  padding: 20px;
}
.text_container {
  width: 60%;
  height: 100%;
  padding-left: 30px;
  padding-top: 30px;
}
.text_container p {
  font-size: 1.2rem;
}
.button_home {
  padding: 10px 35px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 70px;
}
.button_home:nth-child(1) {
  background-color: white;
  color: black;
}

/* ----- */
.products_img_container {
  width: 95%;
  margin: 50px auto;
}
.products_img_container span {
  font-size: 1rem;
  margin-left: 30px;
}
.head-textsp {
  display: flex;
  margin-top: 50px;
}
.pro_card_img .product_card img {
  border-radius: 10px;
}
.pro_card_img .product_card:hover {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.link_area {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.home_main_container2 {
  background-image: url(https://cms.cloudinary.vpsvc.com/images/c_scale,dpr_auto,f_auto,fl_progressive,w_1920/legacy_dam/en-us/S001649085/MXP23221-Aug-21-Homepage-Banner-Tshirt-Final-001?cb=1056cd54ce6e4e032b5d28d8bb5c7eddbd257ae5);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  color: white;
  margin-top: 50px;
}
.text_container2 {
  width: 50%;
  height: 100%;
  padding-left: 150px;
  padding-top: 70px;
}
.text_container2 p {
  font-size: 1.2rem;
}
.content-text {
  font-size: 1.2rem;
}
.circule_images {
  width: 80%;
  margin: auto;
}
.small-images-round {
  text-align: center;
}
.small-images-round h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}
.blog_knownl_containers {
  width: 100%;
}
.blog_child {
  display: flex;
  width: 100%;
}

.img_of_blog,
.contents_blogs {
  width: 50%;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.contents_blogs {
  padding: 15px;
  padding-top: 100px;
}
.img_of_blog img {
  width: 100%;
  height: 500px;
}

.blogs-button {
  padding: 10px 70px;
  border: 1px solid rgb(147, 145, 145);
  border-radius: 70px;
  background-color: #f8f8f8;
}
