.main_container {
  margin: 20px 0;
}
.blog_knownl_containers {
  width: 100%;
  background-color: #f8f8f8;
}
.blog_child {
  display: flex;
  width: 100%;
}

.img_of_blog,
.contents_blogs {
  width: 50%;
  max-width: 100%;
  height: auto;
  text-align: center;
}
.contents_blogs {
  padding: 15px;
  padding-top: 50px;
  padding-left: 80px;
}
.img_of_blog img {
  width: 100%;
  height: 500px;
}

.blogs-button {
  padding: 10px 70px;
  border: 1px solid rgb(147, 145, 145);
  border-radius: 70px;
  background-color: #f8f8f8;
}
.standard_business {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.standard_business div:nth-child(2) {
  width: 50px;
  height: 50px;
}
.standard_business div img {
  width: 100%;
}
.p_of_hov {
  text-align: start;
  margin: 50px auto;
  width: 90%;
}
.browser_btn {
  text-align: start;
  padding: 8px 30px;
  border-radius: 30px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mid_link {
  border-bottom: 1px solid grey;
  width: 95%;
  margin: 10px auto;
}
.mid_link ul {
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: grey;
  padding: 5px;
}
.mid_link ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  transition: color 0.3s;
}

.mid_link ul li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s;
}

.mid_link ul li:hover {
  color: black;
  cursor: pointer;
}

.mid_link ul li:hover::before {
  width: 100%;
}
.kind_cards_compo {
  display: flex;
  width: 95%;
  margin: 70px auto;
}
.kind_cards_compo div {
  width: 100%;
  padding: 20px;
}
.kind_cards_compo .text_conatiner_kcc {
}
.listing_data {
  width: 50%;
  margin: 5px auto;
}

.list_ul li {
  list-style-type: disc;
  font-size: 1.1rem;
}
.main_list {
  border: 1px solid red;
}
.paragraph {
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.img_ban_certified {
  background-image: url(https://cms.cloudinary.vpsvc.com/image/upload/c_scale,dpr_auto,f_auto,q_auto:good,w_1700/pdp-fsc-banner);
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 96%;
  margin: auto;
}
.text_container {
  width: 60%;
  padding: 50px;
  color: white;
}
.products_banner {
  width: 95%;
  margin: auto;
}

.products_banner div:nth-child(1) {
  text-align: center;
}
.products_img img {
  height: 280px;
  width: 320px;
  border-radius: 15px;
}
.review {
  padding: 20px;
  width: 95%;
  margin: 10px auto;
  background-color: #fff;
  border-bottom: 2px solid rgb(240, 236, 236);
}

.stars {
  color: #f5d40c;
}

.star::before {
  content: "\2605";
  font-size: 18px;
  margin-right: 5px;
}

.rating {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.text {
  font-size: 18px;
  margin-top: 5px;
  font-weight: 600;
}

.date {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

.comment {
  font-size: 20px;
  margin-top: 10px;
}
.reward_head {
  width: 93%;
  margin: 30px auto;
}
.Standard_business {
  width: 93%;
  margin: 50px auto;
  text-align: center;
}
